<div id=profile class=userpw>
     <h3>Change Password</h3>


     

     <form action="/profile/" method="post" name="profile_frm" id="profile_frm">
         <div class="fields">
             <div id="password_field" class="field"><label for="user_password">Password</label><fieldset><input type="password" name="user[password]" id="user_password" autocomplete=off /></fieldset></div><div id="cpassword_field" class="field"><label for="user_cpassword">Confirm Password</label><fieldset><input type="password" name="cpassword" id="user_cpassword" autocomplete=off /></fieldset></div>
             
     
             
         </div>
          
         <div class="submit">
             <fieldset>
                 <button type=submit><span>Change</span></button>
             </fieldset>
         </div>
     </form>
</div>